example.h5ad
bags.csv
scripts/*.out
scripts/*.err
*.out
*.err
*.h5ad
test/*
results/*
*.pth
10_old_data/*
*.h5ad
fine_tuned_model/*
final_models/*
final_models/*
simulate_data/*
*.log
fine_tune_individual_pretrain2
fine_tuned_model_10000
fine_tuned_model_by8000
pretrained_models
train_indiviual
train_indiviual_lr_0.1
fine_tune_individual_pretrain2_lr_0.1
fine_tuned_model_20000_8000
negative_control*
fine_tune_individual_pretrain2_lr_0.1_epochs
fine_tuned_model_20000_2000
tmp*
finalize*
fine_tuned_model*
test_*
finetune_model*
validation/pmhc
*.pdf
data/hyun/*
data/all_mouse_genes.csv
mouse_heart
negative_heart
inhibit_model
validation_heart/
validation_tumor/
benchmark_*
benchmark.py
scripts*
